.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.box{
    background: rgb(102, 192, 228);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.beach{
    text-align: center;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    display: none;
}

.beach img{
    /* display: none; */
    width: 400px;
    height: 300px;


}

p{
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    /* font-family: 'Merriweather', serif; */
}

#box-btn{
    font-size: 30px;
}