body{
    background-color: antiquewhite;
}
.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    /* background-color: antiquewhite; */
}

.character{
    display: flex;
    margin-top: 50px;
}

.character1{
    width: calc(100vw / 5);
    height: calc(100vw / 5);
    background-image: url(../img/yuutan-removebg-preview.png);
    background-size: 100%;
    animation: poyoyon3 2.5s infinite;
    opacity: 1;
      }
      @keyframes poyoyon3 {
        0%, 40% {
          transform: skew(0deg, 0deg);
        }
        5% {
          transform: skew(5deg, 5deg);
        }
        10% {
          transform: skew(-4deg, -4deg);
        }
        15% {
          transform: skew(3deg, 3deg);
        }
        20% {
          transform: skew(-2deg, -2deg);
        }
        25% {
          transform: skew(1deg, 1deg);
        }
        30% {
          transform: skew(-0.6deg, -0.6deg);
        }
        35% {
          transform: skew(0.3deg, 0.3deg);
        }
}
.character2{
    width: calc(100vw / 5);
    height: calc(100vw / 5);
    background-image: url(../img/saatan-removebg-preview.png);
    background-size: 100%;
}
.character3{
    width: calc(100vw / 5);
    height: calc(100vw / 5);
    background-image: url(../img/sawarin-removebg-preview.png);
    background-size: 100%;
    animation: poyoyon3 2.5s infinite;
    opacity: 1;
      }
      @keyframes poyoyon3 {
        0%, 40% {
          transform: skew(0deg, 0deg);
        }
        5% {
          transform: skew(5deg, 5deg);
        }
        10% {
          transform: skew(-4deg, -4deg);
        }
        15% {
          transform: skew(3deg, 3deg);
        }
        20% {
          transform: skew(-2deg, -2deg);
        }
        25% {
          transform: skew(1deg, 1deg);
        }
        30% {
          transform: skew(-0.6deg, -0.6deg);
        }
        35% {
          transform: skew(0.3deg, 0.3deg);
        }
}
.character4{
    width: calc(100vw / 5);
    height: calc(100vw / 5);
    background-image: url(../img/pikarya-removebg-preview.png);
    background-size: 100%;
    animation: poyoyon3 2.5s infinite;
    opacity: 1;
      }
      @keyframes poyoyon3 {
        0%, 40% {
          transform: skew(0deg, 0deg);
        }
        5% {
          transform: skew(5deg, 5deg);
        }
        10% {
          transform: skew(-4deg, -4deg);
        }
        15% {
          transform: skew(3deg, 3deg);
        }
        20% {
          transform: skew(-2deg, -2deg);
        }
        25% {
          transform: skew(1deg, 1deg);
        }
        30% {
          transform: skew(-0.6deg, -0.6deg);
        }
        35% {
          transform: skew(0.3deg, 0.3deg);
        }
}
.character5{
    width: calc(100vw / 5);
    height: calc(100vw / 5);
    background-image: url(../img/shiichan-removebg-preview.png);
    background-size: 100%;
    animation: poyoyon3 2.5s infinite;
    opacity: 1;
      }
      @keyframes poyoyon3 {
        0%, 40% {
          transform: skew(0deg, 0deg);
        }
        5% {
          transform: skew(5deg, 5deg);
        }
        10% {
          transform: skew(-4deg, -4deg);
        }
        15% {
          transform: skew(3deg, 3deg);
        }
        20% {
          transform: skew(-2deg, -2deg);
        }
        25% {
          transform: skew(1deg, 1deg);
        }
        30% {
          transform: skew(-0.6deg, -0.6deg);
        }
        35% {
          transform: skew(0.3deg, 0.3deg);
        }
}

.box{
    /* background: rgb(102, 192, 228); */
    background-image: url(../img/IMG_9954\ \(1\).jpeg);
    width: 300px;
    height: 300px;
    background-size: cover;
    border-radius: 50%;
    margin-bottom: 50px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.beach{
    text-align: center;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    display: none;
}

.beach img{
    /* display: none; */
    margin-top: 15px;
    width: 700px;
    height: 400px;
}

p{
    font-size: 50px;
}

#box-btn{
    font-size: 30px;
    color: #fff;
    background-color: #4ab5e7b4;;
    border-radius: 100vh;
}
.character2{
    position: relative;
}
#box-btn2{
    font-size: 30px;
    color: black;
    background-color: #f0f0f0;;
    border-radius: 100vh;
    position: absolute ; top:15px; left:200px;
    display: none;
}