.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    

}

.character{
    display: flex;
    margin-top: 50px;

}

.character1{
    width: 300px;
    height: 300px;
    background-image: url(../img/yuutan.jpeg);
    background-size: cover;
    animation: poyoyon3 2.5s infinite;
    opacity: 1;
      }
      @keyframes poyoyon3 {
        0%, 40% {
          transform: skew(0deg, 0deg);
        }
        5% {
          transform: skew(5deg, 5deg);
        }
        10% {
          transform: skew(-4deg, -4deg);
        }
        15% {
          transform: skew(3deg, 3deg);
        }
        20% {
          transform: skew(-2deg, -2deg);
        }
        25% {
          transform: skew(1deg, 1deg);
        }
        30% {
          transform: skew(-0.6deg, -0.6deg);
        }
        35% {
          transform: skew(0.3deg, 0.3deg);
        }
}
.character2{
    width: 300px;
    height: 300px;
    background-image: url(../img/sawarin.png);
    background-size: cover;
    animation: poyoyon3 2.5s infinite;
    opacity: 1;
      }
      @keyframes poyoyon3 {
        0%, 40% {
          transform: skew(0deg, 0deg);
        }
        5% {
          transform: skew(5deg, 5deg);
        }
        10% {
          transform: skew(-4deg, -4deg);
        }
        15% {
          transform: skew(3deg, 3deg);
        }
        20% {
          transform: skew(-2deg, -2deg);
        }
        25% {
          transform: skew(1deg, 1deg);
        }
        30% {
          transform: skew(-0.6deg, -0.6deg);
        }
        35% {
          transform: skew(0.3deg, 0.3deg);
        }
}
.character3{
    width: 300px;
    height: 300px;
    background-image: url(../img/pikarya.jpeg);
    background-size: cover;
    animation: poyoyon3 2.5s infinite;
    opacity: 1;
      }
      @keyframes poyoyon3 {
        0%, 40% {
          transform: skew(0deg, 0deg);
        }
        5% {
          transform: skew(5deg, 5deg);
        }
        10% {
          transform: skew(-4deg, -4deg);
        }
        15% {
          transform: skew(3deg, 3deg);
        }
        20% {
          transform: skew(-2deg, -2deg);
        }
        25% {
          transform: skew(1deg, 1deg);
        }
        30% {
          transform: skew(-0.6deg, -0.6deg);
        }
        35% {
          transform: skew(0.3deg, 0.3deg);
        }
}
.character4{
    width: 300px;
    height: 300px;
    background-image: url(../img/satachan.jpeg);
    background-size: cover;
    animation: poyoyon3 2.5s infinite;
    opacity: 1;
      }
      @keyframes poyoyon3 {
        0%, 40% {
          transform: skew(0deg, 0deg);
        }
        5% {
          transform: skew(5deg, 5deg);
        }
        10% {
          transform: skew(-4deg, -4deg);
        }
        15% {
          transform: skew(3deg, 3deg);
        }
        20% {
          transform: skew(-2deg, -2deg);
        }
        25% {
          transform: skew(1deg, 1deg);
        }
        30% {
          transform: skew(-0.6deg, -0.6deg);
        }
        35% {
          transform: skew(0.3deg, 0.3deg);
        }
}
.character5{
    width: 300px;
    height: 300px;
    background-image: url(../img/shiichan.jpeg);
    background-size: cover;
    animation: poyoyon3 2.5s infinite;
    opacity: 1;
      }
      @keyframes poyoyon3 {
        0%, 40% {
          transform: skew(0deg, 0deg);
        }
        5% {
          transform: skew(5deg, 5deg);
        }
        10% {
          transform: skew(-4deg, -4deg);
        }
        15% {
          transform: skew(3deg, 3deg);
        }
        20% {
          transform: skew(-2deg, -2deg);
        }
        25% {
          transform: skew(1deg, 1deg);
        }
        30% {
          transform: skew(-0.6deg, -0.6deg);
        }
        35% {
          transform: skew(0.3deg, 0.3deg);
        }
}

.box{
    /* background: rgb(102, 192, 228); */
    background-image: url(../img/IMG_9954\ \(1\).jpeg);
    width: 300px;
    height: 300px;
    background-size: cover;
    border-radius: 50%;
    margin-bottom: 50px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.beach{
    text-align: center;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    display: none;
}

.beach img{
    /* display: none; */
    width: 400px;
    height: 300px;


}

p{
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    /* font-family: 'Merriweather', serif; */
}

#box-btn{
    font-size: 30px;
}